priority 100
snippet write "write!(..)" b
write!("$1"${2/..*/, /}$2);
endsnippet

snippet pl "println!(..)" b
println!("${1:\{}}"${2});
endsnippet

snippet pd "println debug" b
println!("${1}{:?}", ${2});
endsnippet

snippet main "fn main"
fn main() {
	$1
}$0
endsnippet

snippet col "collect" w
collect::<${1:Vec<_>}>()
endsnippet

snippet ok "ok" w
Ok(${1:()})
endsnippet
# vim:ft=snippets:
